@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --font: 'Nunito', sans-serif;
    
    --background: #0b2e2f;
    --selection:#88b7ae;
    --comment:#008573;
    --purple:#008573;
    --white:#f8f8f2;
    --pink:#ecc8b2;
}

body{
    background-color: var(--background);
    color: var(--white);
}

footer{
    text-align: center;

    color:var(--comment);

    font-family: var(--font);
    font-size: 0.75rem;
    font-weight: 600;
}

#userPhoto{
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;

    border-radius: 50%;
    border: solid var(--purple) 2px;
}

#userName{
    width: 100%;

    color: var(--pink);

    font-family: var(--font);
    font-size: 1.3rem;
    font-weight: 400;

    text-align: center;
    text-decoration: none;

    line-height: 1.25;
    display: block;
    animation: color-change 20s infinite alternate;
}

#links{
    max-width: 675px;
    width: auto;

    display: block;

    margin: 27px auto;
}
.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;

    background-color: var(--background);
    color:var(--comment);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;

    border-radius: 5px;
    border: solid var(--purple) 1px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 0.3rem;
    
    transition: all .25s cubic-bezier(.08,.59,.29,.99);

}

.link:hover{
    background-color: var(--selection);
    color: var(--purple);
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  
}
@keyframes color-change {
    0% {
      color: rgb(0, 123, 78);
    }
    10% {
      color: #00ff88;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: rgb(0, 123, 78);
    }
    40% {
      color: rgb(0, 123, 78);
    }
    50% {
      color: rgb(0, 123, 78);
    }
    60% {
      color: #00ff88;
    }
    70% {
      color: rgb(0, 123, 78);
    }
    80% {
      color: rgb(0, 123, 78);
    }
    90% {
      color: #00ff88;
    }
    100% {
      color: rgb(0, 126, 78);
    }
  }